Form.Control
{
    font-size:xx-large;
}
.profile-data {
    background-color: white;
    border: none;
    outline-width: 0;
    font-size: medium;
}
.form-control:disabled, .form-control[readonly] {
    background-color: white;
    border: none;
    outline-width: 0;
    font-size: medium;
}