.Reg-container {
    display: grid;
    grid-template-columns: 19fr 1fr;
    grid-template-rows: repeat(10, auto);
    grid-row-gap: 0.5em;
}
.App-header {
    grid-column: 1 / 10;
    grid-row: 1;
    min-height: 50px;
    margin: 0;
    color: white;
    text-align: left;
    background-color: #05144f;
}

.btn-class {
    width: 240px;
    height: 35px;
    display: block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #37a69b;
    padding-top: 6px;
    margin: 29px 0 0 29px;
    position: relative;
    cursor: pointer;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0px 1px 0px #0094ff, 0px 5px 0px 0px #0094ff, 0px 10px 5px #999;
}
.label-style {
    
    text-align: left;
    padding-top: 5px;
}
.btn-class-sec {
    width: 240px;
    height: 35px;
    display: block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #37a69b;
    padding-top: 6px;
    margin: 29px 0 0 29px;
    position: relative;
    cursor: pointer;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0px 1px 0px #999, 0px 5px 0px 0px #999, 0px 10px 5px #999;
}

.App-body {
    grid-column: 1;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: left;
}

.App-footer {
    grid-column: 1 /3;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    color: rgb(14, 13, 13);
    background-color: #05144f;
    
}

.reg-container {
    display: flex;
    flex-direction: column;
}


.container {
    display: grid;
    grid-template-columns:max-content;
    grid-template-rows: repeat(10, auto);
    grid-row-gap: 0.5em;
}
.App-body {
    grid-column: 2;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: left;
}
